#page {
	width: 76%;
	margin: 0 auto;
}

header h1 {
	text-decoration: underline;
}

article, .separator {
	border-radius: 4px;
	border: 2px solid #111;
	margin-top: 15px;
}

.separator {
}

.separator h2 {
	text-align: center;
	background-color: black;
	color: white;
	padding: 15px;
	margin: 10px 0px;
	font-size: 2em;
}

article div {
	padding-left: 20px;
	padding-right: 20px;
}

article div div {
	margin-top: 10px;
}

article div p {
	max-width: 80%;
}

article h2 {
	padding: 15px 30px 15px 30px;
	margin-top: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/
	border-bottom: 1px solid grey;
	/*filter: opacity(30%);
  	-webkit-filter: opacity(30%);*/
}

article#preg1 h2 {
	background-image: url("db_im1.jpeg");
}


table, td {
	border: 1px solid black;
	text-align: center;
}





.number-array-container {
	display: inline-block;
}
